.logo{
  width: 150px;
}

.select-search{
  border: 0 solid;
  border-radius: 15px 0px 0px 15px;
  width: 200px;
  height: 45px;
}

.input-search{
  border: 0 solid;
  border-radius: 0px 15px 15px 0px;
  width: 400px;
  height: 45px;
}

.navbar{
  border-bottom: 2px solid rgba(128, 128, 128, 0.321);
  padding: 5px 15px 5px 15px;
}

.navbar .container-fluid{
  gap: 100px;
}

.button-search{
  position: absolute;
  right: 20px;
  text-align: center;
  border: none;
  background: none;
}

.button-search i{
 vertical-align: baseline;
}

.search{
  position: relative;
  justify-content: center;
  align-items: center;
}

.navbar-nav{
  gap: 10px;
}

.navbar-nav li:first-child{
  margin-right: 50px !important;
}

.nav-item a i::before{
  background-color: rgba(248, 248, 248,1);
  border-radius: 50%;
  padding: 8px;
  color: black;
}

.navbar-collapse{
  flex-grow: 0.3;
}