<footer class="rodape" id="contato">
    <div class="rodape-div">

        <div class="rodape-div-1">
            <div class="rodape-div-1-coluna">
                <img src="assets/images/logoTeste2.png" alt="Logo" class="d-inline-block align-text-top logo">
            </div>
        </div>

        <div class="rodape-div-2">
            <div class="rodape-div-2-coluna">
                <!-- elemento -->
                <span><b>Contatos</b></span>
                <p>araracolors&#64;araracls.com.br</p>
                <p>+55 48 99679-4400</p>
            </div>
        </div>

        <div class="rodape-div-3">
            <div class="rodape-div-3-coluna">
                <!-- elemento -->
                <span><b>Links</b></span>
                <p><a routerLink="/blog">Blog</a></p>
                <p><a href="/">Página inicial</a></p>
                <p><a routerLink="/sobre-nos">Sobre nós</a></p>
            </div>
        </div>

        <div class="rodape-div-4">
            <div class="rodape-div-4-coluna">
                <!-- elemento -->
                <span class="d-block"><b>Outros</b></span>
                <p class="d-inline"><i class="bi bi-instagram fs-5"></i></p>
                <p class="d-inline"><i class="bi bi-youtube fs-5"></i></p>
                <p class="d-inline"><i class="bi bi-tiktok fs-5"></i></p>
            </div>
        </div>

    </div>
    <p class="rodape-direitos">Copyright © {{ anoAtual }} – Todos os Direitos Reservados.</p>
</footer>