.logo{
  width: 150px;
  mix-blend-mode: multiply;
}

.select-search{
  border: 0 solid;
  border-radius: 15px 0px 0px 15px;
  width: 200px;
  height: 45px;
}

.select-search:focus , .input-search:focus{
  box-shadow: none;
}



.input-search{
  border: 0 solid;
  border-radius: 0px 15px 15px 0px;
  width: 400px;
  height: 45px;
}

.navbar{
  border-bottom: 2px solid rgba(128, 128, 128, 0.321);
  padding: 5px 15px 5px 15px;
}

.navbar .container-fluid{
  gap: 100px;
}

.button-search{
  position: absolute;
  right: 20px;
  text-align: center;
  border: none;
  background: none;
}

.button-search i{
 vertical-align: baseline;
}

.search{
  position: relative;
  justify-content: center;
  align-items: center;
}

.navbar-nav{
  gap: 10px;
}

.navbar-nav li:first{
  margin-right: 50px !important;
}

.nav-item a i::before{
  background-color: rgba(248, 248, 248,1);
  border-radius: 50%;
  padding: 8px;
  color: black;
}

.navbar-collapse{
  flex-grow: 0.3;
}


@media (max-width: 768px) {
  ul li:first-child{
    display: none !important;
  }

  .container-fluid{
    display: contents;
  }

  /* Define o comportamento padrão do menu recolhido */
.collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

/* Define o menu expandido com altura máxima */
.collapse.show {
  max-height: 0px; /* Ajuste conforme a altura necessária para o menu expandido */
}


/* Quando o menu estiver visível */

}