<div class="blog-container">
  <aside class="blog-index">
    <h2><strong>Índice</strong></h2>
    <ul>
      <li><a (click)="navigateTo($event, 'topico1')">Teste Fácil</a></li>
      <li><a (click)="navigateTo($event, 'topico2')">Aprenda Como Pintar Madeira</a></li>
      <li><a (click)="navigateTo($event, 'topico3')">Como Pintar Rodapé</a></li>
      <li><a (click)="navigateTo($event, 'topico4')">9 Dicas Para Utilizar Candy Color</a></li>
      <li><a (click)="navigateTo($event, 'topico5')">Tinta Fosca ou Semi-brilho</a></li>
    </ul>
  </aside>

  <section class="blog-content">
    <article id="topico1" class="topic">
      <h2><strong>Teste Fácil</strong></h2>
      <p>Assista o vídeo abaixo para saber mais sobre os testes fáceis</p>
      <figure>
        <video controls>
          <source src="../../../assets/videos/teste-facil.mp4" type="video/mp4" />
          Seu navegador não suporta a reprodução de vídeos.
        </video>
        <figcaption style="width: 30vw">Saiba como usar Coral Teste Fácil. Com Thalita Carvalho. 2021. (1:17 min.), Disponível em: https://youtu.be/BRTNLTkaEXw?si=U8seUnTjY0godBLd. Acesso em: 04 nov. 2024.</figcaption>
      </figure>
    </article>

    <article id="topico2" class="topic">
      <h2><strong>Aprenda Como Pintar Madeira</strong></h2>
      <figure>
        <img
        src="../../../assets/images/madeira.jpg"
        alt="Imagem de Pintura de Madeira"
        class="image-single"
      />
      <figcaption>SUVINIL. Como pintar madeira. 2022. Disponível em: https://www.suvinil.com.br/blog/aprenda-como-pintar-madeira#. Acesso em: 04 nov. 2024.</figcaption>
      </figure>
      <h3><strong>Qual a melhor tinta para pintar madeira?</strong></h3>
      <p>
        Existem muitos tipos de tinta para madeira e, para definir a melhor, é
        importante considerar o tipo de superfície e a umidade do ambiente. Para
        isso, você pode escolher entre os seguintes tipos:
      </p>
      <ul>
        <li>
          Tinta acrílica: a mais comum, ideal para interiores e com secagem
          rápida;
        </li>
        <li>
          Tinta esmalte: ótima para superfícies externas, por ser mais
          resistente;
        </li>
        <li>
          Verniz: ideal para quem deseja preservar a cor natural da madeira,
          além de impermeabilizar e proteger a superfície;
        </li>
      </ul>

      <h3><strong>Como pintar parede de madeira?</strong></h3>
      <p>
        Agora que você já sabe o que precisa, siga o passo a passo abaixo para
        garantir a melhor pintura!
      </p>

      <h4>1. Prepare a superfície</h4>
      <p>
        Antes de tudo, comece lixando a superfície da madeira até que ela fique
        bem lisinha e uniforme. Assim, a aderência da tinta será maior,
        aumentando a durabilidade. Não se esqueça de limpar a poeira gerada após
        o lixamento.
      </p>

      <h4>2. Aplique a base</h4>
      <p>
        Ao aplicar a tinta, opte por uma base para madeira, como um primer. Ele
        garante a proteção e a melhor fixação da tinta na superfície, evitando
        bolhas e descascados. Aplique uma camada e espere secar. Em seguida,
        lixe novamente para retirar as imperfeições.
      </p>

      <h4>3. Aplique a tinta</h4>
      <p>
        Agora é hora de pintar. Aplique a tinta com um rolo de pelo alto ou
        pincel, dependendo da área. Mantenha a camada fina, já que o segredo da
        boa pintura é fazer demãos finas e secas, em vez de uma camada muito
        espessa.
      </p>

      <h4>4. Finalize</h4>
      <p>
        Após a secagem, você pode aplicar uma segunda camada, se necessário.
        Assim, é só retirar a fita crepe e curtir o novo ambiente com as
        madeiras renovadas.
      </p>

      <p>
        Gostou das dicas de pintura? Então não perca mais tempo e comece agora
        mesmo a transformação da sua casa!
      </p>
      <figure>

        
          <iframe
          src="https://www.youtube.com/embed/heDetquiTXc"
          title="COMO PINTAR PORTAS DE MADEIRA | Suvinil | Pintou Dúvida?"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>

      <figcaption>
        COMO pintar parede de madeira?. Realização de Thiago Silva. 2021. (6:16 min.). Disponível em: https://youtu.be/heDetquiTXc?si=pY0RVQBUr_AHVB5Y. Acesso em: 04 nov. 2024.
      </figcaption>
    </figure>
    </article>

    <article id="topico3" class="topic">
      <h2><strong>Como Pintar Rodapé</strong></h2>
      <p>
        Quer garantir um acabamento elegante e harmonioso para sua decoração?
        Saber como pintar rodapé é uma excelente estratégia para obter ambientes
        com visual refinado, elevando a estética e destacando detalhes.
      </p>
      <p>
        O rodapé protege a base entre as paredes e os pisos contra impactos e
        sujeiras. Ao colori-lo, você cria uma transição suave e equilibrada
        entre elementos diferentes, adicionando um toque de sofisticação à
        decoração.
      </p>
      <p>
        Se você quer desfrutar dessa harmonia visual no seu lar, encontrou o
        lugar certo! A seguir, confira um passo a passo prático e descubra como
        pintar rodapé com agilidade!
      </p>
      <p>
        <strong>Créditos:</strong> Michell Lott – Cores usadas: Meia-Luz e
        Calcita Alaranjada
      </p>

      <h3>Passo a passo para pintar rodapé</h3>
      <p>
        Assim como qualquer tipo de superfície, pintar rodapé exige cuidado e
        técnica. Abaixo, você confere o que precisa para transformar a
        superfície e garantir um acabamento de alta qualidade!
      </p>

      <h4>1. Separe os materiais</h4>
      <p>
        Escolher os materiais é o primeiro passo para realizar uma pintura de
        qualidade. Opte pela tinta para rodapé compatível com a superfície.
        Existem opções específicas para alvenaria, madeira e azulejo, por
        exemplo, adequando-se às necessidades de cada material.
      </p>
      <p>
        Depois, separe os acessórios, como pincéis (não é recomendado fazer esse
        tipo de pintura com rolo) e bandeja de diluição, além de materiais de
        proteção para você e o ambiente: jornal, plástico, fita-crepe, óculos e
        máscara, caso ache necessário.
      </p>

      <h4>2. Prepare o ambiente</h4>
      <p>
        Com tudo em mãos, é hora de organizar o espaço para a pintura. Para
        evitar sujeiras e manchas, forre o chão e a parede com jornal ou
        plástico. Mantenha o ambiente ventilado, com portas e janelas abertas,
        para garantir a secagem uniforme.
      </p>

      <h4>3. Limpe</h4>
      <p>
        Fazer a limpeza pré-pintura é fundamental para aprender como pintar
        rodapé com eficiência. É importante eliminar toda a sujeira da região
        para a tinta alastrar bem e ficar uniforme.
      </p>
      <p>
        Umedeça um pano na água, aplique detergente e esfregue delicadamente o
        rodapé. O resultado é uma superfície lisinha, de acordo com o que você
        deseja.
      </p>

      <h4>4. Pinte</h4>
      <p>
        Comece preparando a tinta, despejando na bandeja e diluindo conforme as
        instruções na embalagem. Mexa com o misturador, molhe o pincel e tire o
        excesso.
      </p>
      <p>
        Uma das mais conhecidas dicas para pintar rodapé é aplicar a tinta
        segurando o pincel na vertical, passando sempre da esquerda para a
        direita. Foque em manter o padrão e fazer movimentos delicados.
      </p>
      <p>
        Terminou a primeira camada, mas sentiu que a cor não estava correta?
        Passe uma segunda ou até uma terceira camada. O importante é construir
        demãos finas e esperar a secagem da camada anterior, que varia de acordo
        com a tinta. Quando chegar ao resultado desejado, é só esperar o tempo
        final.
      </p>

      <h4>5. Finalize</h4>
      <p>
        Toda a proteção do ambiente, com jornais, fita-crepe e plástico, deve
        ser retirada, pelo menos, duas horas após a aplicação da tinta. Esse é o
        tempo mínimo para ela ficar relativamente seca. Também faça isso após
        finalizar as duas camadas, caso elas sejam necessárias.
      </p>
      <p>
        É importante retirar a fita-crepe antes da secagem completa da tinta.
        Caso contrário, há chance da tinta ser removida junto da fita e estragar
        o resultado da pintura.
      </p>

      <h3>Qual é a melhor cor para pintar o rodapé?</h3>
      <p>
        Muita gente considera que as cores de tinta para rodapé devem ter a
        mesma tonalidade da parede. Porém, isso não é uma regra, apenas uma
        possibilidade. Você pode optar por uma tonalidade semelhante ao piso ou
        às portas e às guarnições.
      </p>

      <div class="image-group">
        <figure>
          <img
          src="../../../assets/images/rodape2.jpeg"
          alt="Imagem Candy Color 1"
        />
        <figcaption>
          FELCO. Como pintar rodapé. 2024. Disponível em: https://www.suvinil.com.br/blog/como-pintar-rodape. Acesso em: 04 nov. 2024.
        </figcaption>
        </figure>
        <figure>
          <img
          src="../../../assets/images/rodape1.jpeg"
          alt="Imagem Candy Color 2"
        />
        <figcaption>
          LOTT, Michell. Como pintar rodapé. 2024. Disponível em: https://www.suvinil.com.br/blog/como-pintar-rodape. Acesso em: 04 nov. 2024.
        </figcaption>
        </figure>
      </div>
    </article>

    <article id="topico4" class="topic">
      <h2><strong>9 Dicas Para Utilizar Candy Color</strong></h2>
      <p>Descrição das dicas para usar Candy Color.</p>
      <div class="image-group">
        <figure>
          <img
          src="../../../assets/images/candy1.jpeg"
          alt="Imagem Candy Color 1"
        />
        <figcaption>
          SUVINIL. 9 dicas para utilizar Candy Colors na decoração. 2023. Disponível em: https://www.suvinil.com.br/blog/candy-colors. Acesso em: 04 nov. 2024.
        </figcaption>
        </figure>
        <figure>
            <img
              src="../../../assets/images/candy2.jpeg"
              alt="Imagem Candy Color 2"
            />
          <figcaption style="text-wrap: wrap;">
            ACABAMENTO fosco ou semi brilho, qual escolher? 2022. Disponível em: https://foztintas.com/post/8/acabamento-fosco-acetinado-ou-semibrilho.html. Acesso em: 04 nov. 2024.
          </figcaption>
        </figure>
      </div>
    </article>

    <article id="topico5" class="topic">
      <h2><strong>Tinta Fosca ou Semi-brilho</strong></h2>
      <p>
        Quer transformar as paredes da sua casa, mas não sabe se escolhe uma
        tinta fosca ou semibrilho? É uma dúvida comum entre os que estão em
        busca de reformas, pois essas opções têm características diferentes.
      </p>

      <h3><strong>Como funciona a tinta fosca?</strong></h3>
      <p>
        A tinta fosca é conhecida por seu acabamento sem brilho e é ideal para
        disfarçar imperfeições nas superfícies. Ela proporciona um visual mais
        suave e aconchegante, sendo excelente para ambientes como quartos e
        salas de estar.
      </p>

      <h3><strong>Quando utilizar a tinta semibrilho?</strong></h3>
      <p>
        Por outro lado, a tinta semibrilho reflete mais luz e possui um brilho
        sutil. É uma escolha popular para áreas que precisam ser mais limpas e
        duráveis, como cozinhas e banheiros, pois é mais resistente a manchas e
        pode ser lavada.
      </p>

      <h3><strong>Como escolher entre fosca e semibrilho?</strong></h3>
      <p>
        Ao escolher entre tinta fosca e semibrilho, considere o ambiente e a
        funcionalidade desejada. Para áreas de alto tráfego ou sujeira, a tinta
        semibrilho pode ser mais apropriada. Já para um espaço aconchegante, a
        tinta fosca é uma excelente opção.
      </p>

      <p>
        Se ainda estiver em dúvida, é sempre bom pedir uma amostra das duas
        opções e testar em uma pequena área antes de decidir.
      </p>
    </article>
  </section>
</div>
