.blog-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color: #f9f9f9;
  color: #333;
}

a, p{
  font-family: "Poppins", Sans-serif;
}

.blog-index {
  width: 20%;
  background-color: #265694;
  padding: 1.5rem;
  border-radius: 8px;
}

video{
  height: 35vh;
  width: 30vw;
}

figure{
  height: min-content;
  width: 45%;
}

.blog-index h2{
  font-size: 1.5rem;
  color: white;
}

h2 strong,h3 strong{
  font-weight: 800;
  font-family: "Poppins", Sans-serif;
  text-transform: uppercase;
}

.blog-index ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.blog-index ul li {
  margin-bottom: 1rem;
}

.blog-index ul li a {
  color: #fff;
  text-decoration: none;
}

.blog-index ul li a:hover {
  color: #ffde51;
}

/* Conteúdo do blog */
.blog-content {
  width: 75%;
}

.topic {
  margin-bottom: 3rem;
}

.topic h2 {
  color: #7E1816;
  border-bottom: 2px solid #9d9d9d;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}


/* Imagens */
.image-single {
  height: auto;
  margin: 1rem 0;
  border-radius: 8px;
}

.image-group {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

figure {
  display: inline-block; /* Faz a figura ser um bloco em linha, permitindo que o caption tenha o mesmo width da imagem */
}

.image-single, iframe {
  width: 100%; /* Faz a imagem ocupar toda a largura disponível do seu contêiner */
}

img{
  width: 50%; /* Faz a imagem ocupar toda a largura disponível do seu contêiner */
}

figcaption {
  width: 100%;
  font-size: 0.9em;
}

.image-group img {
  max-width: 32%;
  border-radius: 8px;
}

img,iframe{
  object-fit: cover;
  aspect-ratio: 4/3;
  max-width: 100%;
  min-width: 30vw;
}

@media (max-width: 768px) {
  .blog-container{
    flex-flow: column;

    & .blog-index{
      width: 100%;
    }
  }

  video{
    height: 22vh;
    width: 80vw;
  }

  figure:has(iframe){
    width: 100%; 
  }

  .blog-content{
    width: 100%;
  }

  img{
    object-fit: cover;
    aspect-ratio: 4/3;
    max-width: 100%;
    min-width: 80vw;
  }
}