#main {
  cursor: pointer;
  transition: all 1s ease-in-out;
}

#main:hover {
  transform: translateY(-25px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.card-text {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-top: 20px;
  color: #222222
}

.img-card {
  width: 35px;
  height: 35px;
}