<app-header></app-header>

<div style="margin: 5%">
  <section style="display: flex; justify-content: space-between">
    <app-carousel></app-carousel>

    <div style="display: flex; gap: 50px; flex-direction: column">
      <app-card-sale></app-card-sale>
      <app-card-sale></app-card-sale>
    </div>
  </section>

  <div style="display: flex; justify-content: space-between; margin: 5% 0 5%;">
    <h2 style="font-weight: 700;">Categoria</h2>

    <app-pagination></app-pagination>
  </div>
</div>

<router-outlet />
