
<div class="product-page">
  <div class="product-container">
    <h1 class="product-title">{{ produto.product_name }}</h1>

    <a id="favorite" href="#">
      <svg
        id="favorite-icon"
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#222"
        [ngClass]=""
      >
        <path
          d="m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Zm0-108q96-86 158-147.5t98-107q36-45.5 50-81t14-70.5q0-60-40-100t-100-40q-47 0-87 26.5T518-680h-76q-15-41-55-67.5T300-774q-60 0-100 40t-40 100q0 35 14 70.5t50 81q36 45.5 98 107T480-228Zm0-273Z"
        />
      </svg>
    </a>

    <section>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 25px;
          min-height: 68vh;
        "
      >
        <div class="product-image">
          <img
            [src]="imagemSelecionada"
            alt="Imagem Produto"
          />
        </div>

        <div style="width: 45%; display: flex; flex-direction: column">
          <div
            style="
              width: 100%;
              height: 1.5px;
              background-color: #0074d6;
              margin-bottom: 7%;
            "
          ></div>
          <span class="price">{{ +produto.price_cash | currencyFormatter }}</span>
        <p>à vista</p>
          <div style="display: flex; align-items: center; gap: 5px">
            <p style="font-weight: 800">{{ produto.price | currencyFormatter }}</p>
            <p style="color: rgb(161, 155, 162); font-weight: 800">em até</p>
            <p style="font-weight: 800">{{ produto.installment_times }} x de {{( (produto.price / produto.installment_times) | currencyFormatter )}} sem juros</p>
          </div>
          <span class="qtd">{{ produto.quantity_in_stock }} {{ produto.quantity_in_stock > 1 ? 'UNIDADES' : 'UNIDADES' }}</span>

          <section style="margin-top: 20px">
            <button
              (click)="toggleClick(-1)"
              type="button"
              id="remove"
              class="btn btn-secondary"
            >
              -
            </button>

            <input id="input-qtd" type="text" [value]="quantidade" readonly />

            <button
              (click)="toggleClick(1)"
              type="button"
              id="add"
              class="btn btn-secondary"
            >
              +
            </button>
          </section>

          <section class="section-buttons">
            <button><strong>Comprar Produto</strong></button>

            <section
              style="
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
              "
            >
              <span
                style="width: 100%; height: 1px; background-color: #0074d6"
              ></span>
              <span style="font-weight: 600">ou</span>
              <span
                style="width: 100%; height: 1px; background-color: #0074d6"
              ></span>
            </section>

            <button><strong>Adicionar ao carrinho</strong></button>
          </section>

          <section class="container-frete">
            <p>Calcule seu frete</p>

            <div style="display: flex; align-items: center; gap: 20px">
              <input
                style="
                  width: 50%;
                  color: #222;
                  border: 1px solid rgb(238, 238, 240);
                  border-radius: 8px;
                  padding: 8px;
                  font-size: 13px;
                  line-height: 20px;
                "
                type="text"
                placeholder="CEP"
              />
              <a
                href="https://buscacepinter.correios.com.br/app/endereco/index.php"
                target="_blank"
                style="color: #0074d6; font-weight: 600; text-decoration: none"
                >Não sei meu CEP</a
              >
            </div>
          </section>
        </div>
      </div>

 
      <div>
        <div class="format-img-product">
          @for (imagem of produto.productImages; track $index) {
            <img
            src="{{ imagem.product_path_image }}"
            alt="Imagem Produto"
            (click)="alterarImagem($event)"
            />
          }
        </div>
      </div>
      

      <div
        style="
          width: 100%;
          height: 1.5px;
          background-color: #0074d6;
          margin-bottom: 7%;
        "
      ></div>
    </section>
  </div>
</div>
