p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
}

.product-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

.product-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.055);
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  min-height: 600px;
}

#favorite {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.product-title {
  text-align: left;
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

#favorite:hover {
  background: rgb(240, 56, 56);
  color: #fff;
}

#favorite:hover path {
  fill: white;
}

#favorite path {
  fill: #222;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 100%;
  border-radius: 10px;
}

.price {
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-transform: capitalize;
  color: #222;
}

.qtd {
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #9D9D9D;
}

#input-qtd {
  height: auto;
  width: 28px;
  text-align: center;
  border: none;
  outline: none;
}

.btn-secondary {
  width: 26px;
  height: auto;

  line-height: 1;
  text-align: center;
  padding: 2.5px;

  font-size: 25px;
  font-weight: 300;
  background-color: #fff;
  color: #222;
  border: 1px solid #e2e2e2;
  border-radius: 5px;

  transition: background-color 1.5s ease-in-out;
}

.section-buttons {
  margin-top: 35px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

  

  & button {
    width: 100%;
    height: 48px;

    outline: none;
    border: none;
    background-color: #0074d6;
    text-transform: capitalize;
    color: white;
    letter-spacing: 0.02em;

    border-radius: .5rem;

    transition: all 0.5s ease-in-out;
  }

  & button:hover {
    background-color: #1363a5;
  }

}

.container-frete {
  width: 100%;
  height: auto;
  padding: 10px;

  border: 1px solid rgba(191, 194, 189, 0.623);
}

.format-img-product {
  width: 80px;
  height: 80px;
  display: flex;
  gap: 10px;

  border-radius: 100%;
  margin-bottom: 2.5%;

  & img {
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(29, 29, 29, 0.212);
    transition: all .3s ease;
    cursor: pointer;
  }

  & img:hover {
    filter: blur(1px);
  }
}