<section class="banner-container">
  <img src="assets/images/banner.png" alt="Banner">
</section>

<div style="margin: 5%">
  <div style="display: flex; justify-content: space-between; margin: 5% 0 5%;">
    <h2 style="font-weight: 700;">Categorias</h2>

    <app-pagination textToPagination="Ver todas as categorias →"></app-pagination>
  </div>

  <div class="main-category">
    @for (category of categories; track $index) {
      <app-card-category [icon]="category.category_icon" [nomeCard]="category.category_name"></app-card-category>
    }
    
  </div>

  <div style="display: flex; justify-content: space-between; margin: 5% 0 5%;">
    <h2 style="font-weight: 700;">Produtos</h2>
    <app-pagination textToPagination="Ver todas os produtos →"></app-pagination>
  </div>

  <section class="products">
    @for (produto of produtos; track $index) {
      <app-card-product 
      [nomeProduto]="produto.product_name" 
      [quantidadeProduto]="produto.quantity_in_stock" 
      [precoProduto]="produto.price_cash" 
      [imagem]="produto.productImages[0].product_path_image"
      [id_produto]="produto.product_id"
      >
    </app-card-product>
    }
  </section>
</div>


