.main-category {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 5%;
}

.products {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 5%;
}

.banner-container img{
  width: 100%;
}


h2{
  color: #B62D34;
}