<main>
    <div class="banner-sobre-nos">
        <h1><strong>Sobre nós</strong></h1>
    </div>
    <section class="texts">
        <h3>Inicio</h3>
        <p>
            Um grupo de cinco amigas uniu-se não apenas por laços de amizade, mas também por um objetivo em comum: promover mudanças significativas no mundo. Ao ingressarem no curso de Administração no <strong>Cedup Abílio Paulo</strong>, decidiram desenvolver um projeto que integrasse suas paixões à temática da <strong>sustentabilidade</strong>, especialmente no contexto de seu <strong>Trabalho de Conclusão de Curso (TCC)</strong>.
        </p>
        <h3>Problema</h3>
        <p>
            Após diversas discussões e reflexões, identificaram um dos problemas ambientais mais urgentes: <strong>o descarte inadequado do óleo de cozinha</strong>. Esse resíduo, quando descartado incorretamente nos corpos hídricos, causa sérios danos ao meio ambiente, resultando na <strong>poluição de rios e mares</strong> e comprometendo a vida aquática. Diante disso, questionaram-se sobre como poderiam transformar essa problemática em uma solução viável.
        </p>
        <h3>Ideia</h3>
        <p>
            Assim, surgiu a ideia da <strong>Arara Colors</strong>. Elas decidiram criar uma linha de <strong>tintas ecológicas</strong> que utilizaria óleo de cozinha reciclado como matéria-prima. O objetivo era claro: conscientizar a população sobre a importância do descarte correto do óleo, ao mesmo tempo em que ofereciam uma alternativa sustentável para a pintura.
        </p>
        <h3>Desenvolvimento</h3>
        <p>
            Com empenho e dedicação, cada amiga contribuiu com suas habilidades específicas para o desenvolvimento do projeto. Algumas se dedicaram à pesquisa e formulação das tintas, enquanto outras ficaram responsáveis pelas estratégias de marketing. E assim trabalharam incansavelmente para garantir que suas tintas fossem seguras para o meio ambiente e apresentassem cores vibrantes e de alta qualidade.
        </p>
        <h3>Iniciativa</h3>
        <p>
            Dessa forma, o projeto inicialmente concebido como um TCC tornou-se uma iniciativa inspiradora. As cinco amigas não apenas criaram <strong>tintas ecológicas</strong>; estabeleceram uma rede de conscientização ambiental. Assim nasceu a <strong>Arara Colors</strong> – um símbolo de criatividade, amizade e compromisso com a preservação do nosso planeta.
        </p>
    </section>
</main>