<div class="product-page">
    <div class="product-container">
        <h1 class="product-title">Características</h1>
        <table>
            @for (row of caracteristicas; track $index) {
                <tr class="{{$index % 2 !== 1 ? 'striped-row' : ''}}">
                    <td>
                        <strong>{{row.name}}</strong>
                    </td>
                    <td>
                        {{row.description}}
                    </td>
                </tr>
            }
        </table>
    </div>
</div>